DATA_SOURCE=local
SNOWFLAKE_ACCOUNT=yourorg-youraccount
SNOWFLAKE_USER=CHURN_APP_USER
SNOWFLAKE_PRIVATE_KEY_FILE=.secrets/rsa_key.p8
SNOWFLAKE_ROLE=CHURN_ROLE
SNOWFLAKE_WAREHOUSE=CHURN_WH
SNOWFLAKE_DATABASE=CHURNGUARD